<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Neural net</title>

<body>
  <div class="container p-5">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to the word generator</h1>
          <p class="lead">This is a thing i made bc I have sooooo much free time.</p>
          <hr class="my-4">
          <p>It uses python to do things. Please enjoy the beauty of it. I like pizza 🍕</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/user_form" role="button">Get Started</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
